@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #171717;
  --primaryblue: #277DFF;
  --primaryred: #f35a61;
  --gray: #f3f3f3;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --gray-800: #1e293b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
